<!--Theme Appearance animation (Alpha)-->
<ion-content class="has-header">
    <ion-refresher pulling-text="{{listViewController.data.refreshMessage}}" on-refresh="listViewController.doRefresh()">
    </ion-refresher>
    <!--Appearance animation (Alpha) List-->
    <ion-list>
        <ion-item href="#" class="item-avatar item-icon-right chat-item" ng-click="listViewController.onClick('onFavorite', item, $event)" ng-repeat="item in listViewController.animationItems">
            <img ng-src="{{item.image}}" alt="{{item.title}}" />
            <h2>{{item.title}}</h2>
            <i class="icon" ng-class="{'icon-heart': item.favorite, 'icon-heart-outline': !item.favorite}"></i>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="!listViewController.noMoreItemsAvailable" on-infinite="listViewController.loadMore()" distance="10%"></ion-infinite-scroll>
</ion-content>