/*  #Theme Image Gallery Category 1 (Animals)
===============================================*/

.gallery-title i.icon {
    font-size: 25px;
    color: #ffffff;
    right: 0px;
}
.gallery-title h2,
.gallery-title p {
    color: #ffffff !important;
    margin: 0 !important;
    padding-right: 50px !important;
}
.gallery-title h2 {
    font-weight: 400 !important;
    font-size: 1.2em !important;
}
p {
    font-weight: 800 !important;
    font-size: 1px;
}
.card.half {
    width: 50%;
    display: block;
    float: left;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
}
.card-image {
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px;
}
.gallery-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: rgba(37, 37, 37, 0.5);
    min-height: 45px;
    border-bottom: 1px solid transparent !important;
}