/* Genaral SearchBar Light
===========================================*/

i.icon {
    color: #767777;
    font-size: 20px;
    min-width: 30px;
    text-align: center;
}
.bar-subheader,
.item-input {
    height: auto;
    padding: 0;
}
.item-input i.icon {
    color: #692d91;
    font-size: 20px;
    min-width: 40px;
    text-align: center;
}
input[type=search] {
    border-bottom: 1px solid #853a96;
    font-size: 20px;
    color: #853a96;
    margin-bottom: 15px;
    height: 30px;
    margin-top: 10px;
    border-radius: 0;
    -webkit-appearance: none;
}
input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid #853a96;
    box-shadow: none;
}