<!--Theme Google Cards Shop-->
<ion-content class="has-header">
    <ion-refresher pulling-text="{{listViewController.data.refreshMessage}}" on-refresh="listViewController.doRefresh()">
    </ion-refresher>
    <!--Google Cards Shop Content List-->
    <ion-list ng-click="listViewController.onClick('onItemClick', item, $event)" ng-repeat="(key, item) in listViewController.data">
        <ion-slide-box on-slide-changed="listViewController.deleteItem(key, true)" show-pager="false">
            <ion-slide>
                <!--Google Cards Shop-->
                <div class="card">
                    <div class="card-header">
                        <button class="btn-flat waves-effect waves-dark right">{{item.title}}</button>
                        <h2>{{item.description}}</h2>
                    </div>
                    <div class="container-body-image" style="background-image: url({{item.image}})">
                        <div class="half">
                            <p>{{item.longDescription}}</p>
                            <h3>{{item.shortDescription}}</h3>
                        </div>
                        <div class="half text-right">
                            <span class=" price">{{item.price}}</span>
                            <button class="btn red waves-effect waves-light" ng-click="listViewController.onClick('onBuy', item, $event)">
                                {{item.button}}
                            </button>
                        </div>
                    </div>
                </div>
                <!--End Google Cards Shop-->
            </ion-slide>
            <ion-slide>
            </ion-slide>
        </ion-slide-box>
    </ion-list>
</ion-content>
