<!--Theme LoginAndRegister Light-->
<ion-content class="container-image has-header">
    <div class="cover-login">
        <!--Theme LoginAndRegister Light Logo-->
        <!--<img ng-src="{{loginController.data.logo}}" />-->
    </div>
    <!--Theme LoginAndRegister Light Form-->
    <div class="form-block">
        <div class="input-field">
            <i class="prefix icon {{loginController.data.iconAccount}}"></i>
            <input id="username" type="text" ng-model="loginController.username">
            <label for="username">{{loginController.data.username}}</label>
        </div>
        <div class="input-field">
            <i class="prefix icon {{loginController.data.iconKey}}"></i>
            <input id="password" type="password" ng-model="loginController.password">
            <label for="password">{{loginController.data.password}}</label>
        </div>
    </div>
    <ion-footer-bar class="login-footer">
        <button class="button-style btn waves-effect waves-light button-login" ng-click="loginController.onClick('onLogin')">
            {{loginController.data.login}} !!!
        </button>
        <div class="login-link">
            <a href="#nogo">Recuperar contraseña</a>
        </div>
    </ion-footer-bar>
</ion-content>
