<!--Theme LoginAndRegister Light-->
<ion-view hide-back-button="true" class="login-view" hide-nav-bar="true">
    <div ng-controller="LoginController">
        <ion-content class="container-image login" has-header="false">
            <div class="cover-login" >
                <!--Theme LoginAndRegister Light Logo-->
                <!--<img ng-src="{{loginController.data.logo}}" />-->
            </div>
            <!--Theme LoginAndRegister Light Form-->
            <form name="form" class="login-contenido scroll-login">
                <div class="form-block" >
                    <div class="input-field" >
                        <i class="prefix icon login-icon">
                            <img src="img/user.png" alt="" class="icon-user">
                        </i>
                        <input id="username" type="text" ng-model="user.username" class="login-input"
                               ng-change="limpiar()">
                        <label for="username">Nombre Usuario</label>
                        <span class="error" ng-show="errorUser">{{user.mensajeObligatorio}}</span>
                    </div>
                    <div class="input-field" style="margin-top:5% !important">
                        <i class="prefix icon login-icon">
                            <img src="img/keylock.png" alt="" class="icon-user">
                        </i>
                        <input id="password" type="password" ng-model="user.password" class="login-input"
                               ng-change="limpiar()">
                        <label for="password">Contraseña</label>
                        <span class="error" ng-show="errorPass">{{user.mensajeObligatorio}}</span>
                    </div>
                    <div class="error" ng-show="error" >
                        <p>{{user.mensaje}}</p>
                    </div>
                    <div class="row" style="margin-top:40% !important">
                    <div class="col btn-login">
                        <button ng-click='ingresar();' class="button-style btn waves-effect waves-light button-login">
                            Ingresar
                        </button>
                        <div class="login-link">
                            <a href="#app/recover">Recuperar contraseña</a>
                        </div>
                    </div>
                </div>
                </div>
            </form>  
        </ion-content>
    </div>
</ion-view>
