/*  #Theme Drag And Drop Universal
===========================================*/

.list-name i.icon {
    color: #616262;
}
.list-name h2 {
    font-weight: normal;
    color: #616262;
    line-height: 35px;
}